fastapi==0.118.0
uvicorn==0.37.0
pydantic==2.11.10
jinja2==3.1.4
email-validator==2.1.0
python-multipart==0.0.9

SQLAlchemy==2.0.36
mysql-connector-python==9.0.0
itsdangerous==2.2.0

starlette~=0.48.0
passlib~=1.7.4
argon2-cffi==23.1.0